{% extends "htmlCss/index.html" %}
{% block intro %}
  <strong>Página de {{usuario}} </strong><br/><br />
{% endblock %}
{% block menu %}
  <li><a href="/">Inicio</a></li>
{% endblock %}
{% block content %}
  <form class="distrito" action="" method="GET">
    <select name="distrito">
      <option value=""><a href="/museos"></a>Mostrar todos</option>
      {% for dis in listDistrito %}
        <option value={{dis}}><a href="{{dis}}"></a>{{dis}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="distrito">
    <!--<input type="submit" value="distrito"> -->
  </form>
  {% for mus in listaMuseos %}
    <ul>
      <form method="POST" action="/museos" >
        <button type="submit" name="puntua" value="{{mus.id}}" class="puntua">+1</button>
          <!--<button onclick="location.href='{{mus.id}}'">+1</button>-->
      </form>
      <li><a href="/museos/{{mus.id}}">{{mus.nombre}}</a></li>
      {% if usuario|length != 0 %}
      <form method="POST" action="" >
        <button type="submit" name="_submit" value="{{mus.id}}">Seleccionar</button>
      </form>
      {% endif %}
    </ul>
  {% endfor %}
{% endblock %}
