{% extends "htmlCss/index.html" %}
{% block intro %}
  <strong>Página de {{usuario}} </strong><br/><br />
{% endblock %}
{% block menu %}
  <li><a href="/">Inicio</a></li>
{% endblock %}
{% block content %}
  <form class="distrito" action="/museos" method="GET">
    <select name="distrito">
      <option value="">Mostrar todos</option>
      {% for dis in listDistrito %}
        <option value={{dis}}>{{dis}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="distrito">
  </form>
  {% for mus in listaMuseos %}
    <ul>
      <li><a href="/museos/{{mus.id}}">{{mus.nombre}}</a>
        <input type="submit" name="puntua" value="+1" class="puntua">
      </li>
      {% if usuario|length != 0 %}
      <form method="POST" action="" >
        <button type="submit" name="_submit" value="{{mus.id}}">Seleccionar</button>
      </form>
      {% endif %}
    </ul>
  {% endfor %}
{% endblock %}
