{% extends "htmlCss/index.html" %}
{% block menu %}
  <li><a href="/">Inicio</a></li>
{% endblock %}
{% block content %}
  {% if museum %}
  <ul>
    {% if museum.accesible %}
        <button class="acceso" type="button" name="button"></button>
    {% endif %}
    {% if museum.puntuacion %}
      <button class="puntua">{{museum.puntuacion}}</button>
    {% endif %}
    <li><h2>{{museum.nombre}}</h2></li>
      <ul><li><a href='{{museum.url}}'>{{museum.url}}</a></li>
        <li>Direccion: {{museum.direccion}}</li>
        <li>Latitud: {{museum.latitud}}. Longitud: {{museum.longitud}}</li>
        <li>Barrio: {{museum.barrio}}. Distrito: {{museum.distrito}}</li>
        <li>Descripción: {{museum.descripcion}}</li>
        <li>Datos de contacto:Teléfono: {{museum.telf}}  email: {{museum.email}}</li>
        <li><strong><h3>Comentarios almacenados:</h3></strong></li>
        <div class="comments">
          {% for comentado in lcomment %}
          <div class="comment">
            {{comentado.contenido}}
          </div>
          {% endfor %}
          {% if user.is_authenticated %}
          <p><form method="POST" action="/museos/{{museum.id}}">
            <label for="comment">Comentario</label><br />
            <textarea cols="30" rows="5" name="comment" ></textarea>
            <input type="submit" name="submit" value="Añadir" class="submit">
          </form></p>
          {% endif %}
        </div>
      </ul>
  </ul>
  {% endif %}
{% endblock %}
