*{margin:0; padding:0;}


body {
font-family: Arial;
font-size: 12px;
margin:0;
padding:0;
line-height: 135%;
/* background-image: radial-gradient(grey,white) ;*/
background-image: radial-gradient(transparent 55%, #BAD4DF 75%), url(images/paseo.jpg);
}

a { color: #336699; text-decoration: none; }
a:hover { text-decoration: none; color : #880000; }

img { border: none; }
img a {border:none;}

ul { list-style-type: none; }

.puntua {
  margin: auto;
  background: #B1E2F4 no-repeat center right;
  height: 35px;
  width: 35px;
  float: left;
  position: relative;
  display:list-item;
  font-size-adjust: auto;
  color: #DB1417;
  text-decoration-style: solid;
  border-radius: 50%;
  cursor: pointer;
  text-shadow: 2px 1px #558ABB;
  list-style-type: none;
}

.numerar {
    padding: 4px 14px;
    color: #78909C;
    text-decoration: none;
    background-color: #E3E8EA;
    display:block;
    float: left;
    position: relative;
    border-radius: 50px;
    margin: 4px;
    font-size: 1.3em;
    font-weight: 700;
    cursor: pointer;
    list-style-type: none;
    visibility: visible;
}
.numerar a:active {
  color:#fff;
  background-color:#159a4d
}

.acceso {
height: 30px;
width: 30px;
float: right;
background: url(images/accesible-para-sillas-de-ruedas-21213.jpg) no-repeat center center;
}

.content .comments .comment
{
  margin: 0 0 0 2px;
  font-size: 10pt;
  display: block;
  background: url(images/comments.gif) left no-repeat;
  padding: 20px 0 0 27px;
}

#page {
width: 800px;
margin: 10px auto;
background: #eaeaea;
}

#header {
background: #efefef url(images/header.jpg) ;
height: 100px;
}
#header h1 {
font-size: 21px;
font-weight: 100;
padding: 25px 0 0 20px;
color: #fff;
}
#header h1 a {
color: #afe;
}
#header h1 a:hover {
color: #eee;
}
#header h2 {
color: #afe;
font-size: 17px;
font-weight: 100;
padding: 7px 0 0 30px;
}

#intro {
background: #37454C url(images/prado.jpeg) no-repeat top left;
background-size: 60%;
background-clip: border-box;
height: 200px;
font-style: italic;
color: #fff;
}
#intro p {
font-size: 20px;
float: right;
padding: 10px 20px 0 0;
text-align: right;
width: 290px;
}

.register{
  width: 250px;
  height: 100px;
  background-color:inherit;
  text-align:center;
  position:absolute;/* relative */
  -webkit-animation: mymove 0.5s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymove 0.5s;
  animation-fill-mode:forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {top: 300px;}
    to {top: 150px; background-color:#efefef;}/*0px*/
}

#menu {
background: url(images/menu.jpg) no-repeat;
height: 40px;
line-height: 40px;
}

#menu ul {
list-style-type: none;
margin: 0;
padding-left: 20px;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
display: block;
padding: 0 10px 0 10px;
text-decoration: none;
color: #fff;
font-size: 13px;
font-weight: 600;
}
#menu ul li a:hover {
color: #fff;
background: url(images/menuover.png) no-repeat;
}

#menubottom { background: #efefef url(images/menubottom.jpg) no-repeat; padding: 5px 0; }

#wrapper {
background: url(images/content.jpg) repeat-y;
padding: 8px 8px 30px 30px;
}


#content {
float: left;
width: 430px;
}

#content form input.submit{
  width: auto;
  float: left;
}
#content form input.checkbox{
  width: auto;
  float: right;
}

#content li.acceso{
  width: auto;
  float: left;
}

#sidebar {
float: right;
width: 300px;
display: inline-block;
}

#footer {
background: url(images/footer.jpg) no-repeat;
margin: 0 auto;
font-weight: 100;
font-size: 12px;
text-align: center;
color: #fff;
height: 50px;
line-height: 20px;
}

#footer p { color: #fff; }
#footer a { color: #fff; text-decoration: none; }
#footer a:hover { text-decoration: underline; }

#bottom { background: #efefef url(images/bottom.jpg) no-repeat; padding: 5px 0; }

#content h2 { font-weight: 100; color: #333; font-size: 21px; padding: 15px 0 10px 0;}
#content p { padding: 10px 0; }
#content ul {
padding: 10px 30px;
font-size: '{{varsCss.tamLetra}}px';
}
#content ul li {
list-style-type: circle;
font-size: '{{varsCss.tamLetra}}px';
}

#sidebar img { padding: 0; margin: 0; }
#sidebar ul {
    list-style-type: none;
}

#sidebar h2 {
    background: url(images/sidebarh2.jpg) no-repeat;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 0 0; padding: 0 0 0 10px;
    color: #efefef;
}

#sidebar ul {
padding: 10px 0 20px 10px;
}

#sidebar ul li {
    background: url(images/bullet.jpg) no-repeat center left;
    padding: 2px 0 2px 22px;
}
#sidebar ul li a { font-size: 13px; }

#acceso button  {
    background: url(images/accesible-para-sillas-de-ruedas-21213.jpg) no-repeat center left;
    padding: 15px 15px;
}

#puntua  {
    background: url(images/bullet.jpg) no-repeat center left;
    padding: 1px 0px;
    font-size: 18px;
    color: #efefef
}
