{% extends "htmlCss/index.html" %}
{% block intro %}
  <strong>{{ bg.titulo }} </strong><br />
{% endblock %}
{% block menu %}
  <li><a href="/">Inicio</a></li>
{% endblock %}
{% block content %}
  <p>{{ content|safe }}</p>
  {% if user.is_authenticated %}
  <!-- {{ bg.colorFondo|default:"#EFEFEF" }}-->
  <div class="css">
  <h2>Cambia el estilo</h2>
    <form class="css" method="POST" action="/{{ usuario }}">
      {% csrf_token %}
      <input type="color" name="fondo" value={{bg.colorFondo}} >
      <input id="letra" name="letraTam" type="number" min="6" max="30" value ={{bg.tamLetra|default:"12"}}>
      <input type='text' name='titulo' value={{title}} >
      <input type="submit" name = "css" value="Cambiar"/>
      <input type="hidden" name="next" value="/{{museum.usuario}}" />
    </form>

  </div>
    {% endif %}
  {% for museum in listaMuseos %}
    <ul>
      <li><a href='{{museum.museo.url}}'>{{museum.museo.nombre}}</a><br/>
      <ul><li>Direccion: {{museum.museo.direccion}}</li>
        <li><a href="/museos/{{museum.museo.id}}">Más información</a></li></li>
        <li><strong>Fecha de selección: {{museum.fecha}}</strong></li>
      </ul>
      {% if '{{museum.usuario}}' %}
        <form method="POST" action="">
          <button type="submit" name="enviar" value={{museum.museo.id}}>Deseleccionar</button>
        </form>
      {% endif %}
    </ul>
  {% endfor %}

    {% for t in listPage %}
    <div class="numerar">
      <a href='{{museum.usuario}}?numPage={{tanda}}'>{{t}}</a>
    </div>
    {% endfor %}
{% endblock %}
{% block sidebar %}
{% if usuario == user.username %}
  <h2>Canales de {{user.username}}</h2>
    <ul>
        <li><a href='{{usuario}}/json'>JSON de {{usuario|safe}}</a></li>
        <li><a href='{{usuario}}/xml'>XML de {{usuario|safe}}</a></li>
    </ul>
{% endif %}
{% endblock %}
